[submodule "scripts/externals/minifier"]
	path = scripts/externals/minifier
	url = git://github.com/azavea/minifier.git
[submodule "scripts/externals/minifier.git"]
	path = scripts/externals/minifier.git
	url = git://github.com/azavea/minifier.git
