<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azavea.Open.Common" version="2.1.9" targetFramework="net35" />
  <package id="Azavea.Utilities.Common" version="3.2.2" targetFramework="net35" />
  <package id="Azavea.Web" version="1.1.2" targetFramework="net35" />
  <package id="log4net" version="2.0.0" targetFramework="net35" />
  <package id="Newtonsoft.Json" version="5.0.6" targetFramework="net35" />
  <package id="NUnit" version="2.6.2" targetFramework="net35" />
  <package id="NUnit.Mocks" version="2.6.2" targetFramework="net35" />
</packages>