#pdp-map-geocode{
    z-index: 3000;
    float: none;
    position: absolute;
    border: Solid 1px #c0c0c0;
    display: block;
    background-color: #fff;
    text-align: center;
    padding: 0.1em 0.25em;
    cursor:pointer;    
    right: 120px;
    top: 30px;
    background-image: none;
    box-shadow: 0px 2px 0px rgba(118, 81, 89, 0.2);
    font-size: 12px;
}

#pdp-map-geocode-panel {
    background-color: #fff;
    display: block;
    z-index: 9998;
    float: none;
    position: absolute;
    border: Solid 1px #c0c0c0;
    padding: 10px;
    right: 120px;
    top: 80px;
    box-shadow: 0px 2px 0px rgba(118, 81, 89, 0.2);
    border-radius: 5px;    
}
    #pdp-map-geocode-panel label { font-weight:bold; padding-bottom:10px; display:block; }
    #pdp-map-geocode-input { width:200px; margin-right:10px; }
    #pdp-map-geocode-submit { padding:0 6px; }

    #pdp-map-geocode-failure {display:none; margin-top:10px; padding:0.3em; font-size:0.9em; }
    
    #pdp-map-geocode-results-container {display:none;  margin-top:10px}
        #pdp-map-geocode-results-header {color:#2A4203;font-style:italic;}
        #pdp-map-geocode-results-content { padding-left:15px; }
        #pdp-map-geocode-results-content li {}