.pdp-pdb-control { padding:10px 10px 10px 20px; }
    .pdp-pdb-control.pdp-pdb-control-active { 
        background: -webkit-gradient(linear, left top, left bottom, from(#98D40C), to(#6BA40E));
        background: -moz-linear-gradient(top,  #98D40C,  #6BA40E);
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#98D40C', endColorstr='#6BA40E') !important;
        color: #fff;
        border: solid 2px #fff !important;
	}
	
    .pdp-pdb-control-label { color: #fff; text-shadow: #000 .1em .1em; margin:0 0 2px -10px; white-space:nowrap; position:relative; font-weight: 600; border:none; background:none;}
    .pdp-pdb-control span {font-weight: 400; color: #fff;}
        .pdp-pdb-control-label .ui-icon-help { position:absolute; right:0; top:0; cursor:pointer; }
    .pdp-pdb-control .ui-icon-close {cursor: pointer;}
    .pdp-pdb-control-input, .pdp-pdb-control-input-range {position: relative; display: inline;}
    .pdp-pdb-control-input .ui-icon-close {position: absolute; left: -15px; top: 1px;}
    .pdp-pdb-control .pdp-control-range { width:60px !important; margin: 0 2px; }
    .pdp-pdb-control-input-range-clearable {margin-left: 15px !important;}
    .pdp-pdb-control-input-range .ui-icon-close {position: absolute; left: 0px; top: 1px;}
    
/* Input styles */
.pdp-control-free {
	background: #fff url(images/input-text-bg.png) repeat-x top;
}
        
.pdp-pdb-control-tooltip, .pdp-pdb-control-tooltip-left {
    background-color:#000;
    filter:alpha(opacity=70); /* IE */
    background:rgb(0,0,0);      /* Other old browsers get no transparency */
    background:rgba(0,0,0,0.7); /* Modern standards-compliant browsers get nice transparency. */
    border:1px solid #fff;
    padding:10px 15px;
    width:200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
    z-index:2000;

    /* outline radius for mozilla/firefox only */
    -moz-box-shadow:0 0 10px #000;
    -webkit-box-shadow:0 0 10px #000;
}

/* this is the fill triangle */
.pdp-pdb-control-tooltip:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	
	margin-top:-6px;
	width:0;
	height:0;
	top:50%; 
	left:-24px;
	bottom:auto;
	
	border-width:6px 12px;
	border-style:solid;
	border-color:transparent #000 transparent transparent;
}

/* this is the border triangle */
.pdp-pdb-control-tooltip:before {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	
	margin-top:-7px;
	width:0;
	height:0;
	top:50%; 
	left:-28px;
	bottom:auto;
	
	border-width:7px 14px;
	border-style:solid;
	border-color:transparent #fff transparent transparent;
}
        
.input-invalid { border:solid 2px #ff0000; }    
.pdp-input-uninit { color:#8D8D8D; }
.pdp-selected-criteria { font-size:0.82em; font-weight:bold; padding:2px 0; }
    .pdp-selected-criteria .ui-icon { cursor:pointer; }
    .pdp-selected-criteria label { padding-left:2px; }
    .pdp-pdb-control-active .pdp-selected-criteria {text-shadow: -1px -1px #607860 !important;}
    .pdp-pdb-control-active .pdp-pdb-control-label {text-shadow: -1px -1px #607860 !important;}
.ui-autocomplete { max-height:110px; overflow-y:auto; }

