.pdp-pdb-search-container { margin-bottom:10px; }

#pdp-pdb-search-level-container {background-color: #fff; }
    #pdp-pdb-search-level-container li {margin-top: 0; }
    .pdp-pdb-search-level { padding-right: 1px; top:45px; bottom:100px; width:100%; overflow-x: hidden; overflow-y:auto; z-index:2000; }
    .pdp-pdb-search-category-top  
    {
        border:none; padding:10px; text-shadow: -1px -1px #607860; font-weight:bold; 
        background: -webkit-gradient(linear, left top, left bottom, from(#A1AE8D), to(#727A65));
	    background: -moz-linear-gradient(top,  #A1AE8D,  #727A65);
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1AE8D', endColorstr='#727A65') !important;
	    color: #ffffff;
    }
        .pdp-pdb-search-category-close { cursor:pointer; }
        .pdp-pdb-search-level ul { display:none;  }
    #pdp-pdb-search-level-0 { left:0; position:static; }
        #pdp-pdb-search-level-0 ul { display:block; }
        #pdp-pdb-search-level-0 .pdp-pdb-search-category-close { display:none; }
    #pdp-pdb-search-level-1 { left:303px; display:none; }
        #pdp-pdb-search-level-1 ul{  }
    #pdp-pdb-search-level-2 { left:603px; display:none; padding-right: 10px;}
        #pdp-pdb-search-level-2 ul{  }

.pdp-pdb-search-category-header { padding:10px; cursor:pointer; }
    .pdp-pdb-search-category-header label { cursor:pointer; }

    #pdp-pdb-search-result-type .ui-button-text { padding: 12px 12px; }
#pdp-pdb-search-counts { text-align:right; display:none; }
    #pdp-pdb-search-counts-cols { margin:5px 0; }
.pdp-criteria-list {
    background: #fff;
}
.pdp-pdb-search-category-header.pdp-pdb-control-active {
	background-color: #fff;
}

div.pdp-pdb-search-category-header {
	border-bottom: solid 1px #d2d4d3;
	background-color: #e8e8e8;
	color: #6D6E70;
	text-decoration: none;
	display: block;
	margin-bottom: 0;
	height: 16px;
	font-size: 14px;
	font-weight: 400;
}

div.pdp-pdb-search-category-header:hover {
	color: #0F4038
}  

.pdp-pdb-search-category-header-viewing{
	color: #0F4038 !important;
	background-color: #fff !important;
}
  
#pdp-pdb-search-counts-panel-content { position:relative; white-space:nowrap; padding:10px;	}
    .pdb-pdb-search-counts-category-label { font-weight:bold; }
    .pdp-pdb-search-counts-category { margin:2px 0 2px 15px; }
        .pdp-pdb-search-counts-category li { padding:1px 0; }
    #pdp-pdb-search-counts-caption {white-space: normal; width: 235px; padding:5px; font-size:0.9em; background-color:#fff; }
        
#pdp-pdb-search-counts-panel{
	overflow:auto; 
	position: relative;
	height:100%;
}

#pdp-pdb-search-counts-panel-cols { margin:5px 0 0 0; }

/* Bubble with a border rather than solid colour
------------------------------------------ */

#pdp-pdb-search-counts-container{ display: none;}

#pdp-pdb-search-counts-container:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	
	width:0;
	height:0;
	top:245px; 
	left:-51px;
	bottom:auto;
	border-width:13px 26px;
	border-style:solid;
	border-color:transparent White transparent transparent;
}

/* creates the larger triangle */
#pdp-pdb-search-counts-container:before {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	
	width:0;
	height:0;
	top:244px; 
	left:-56px;
	bottom:auto;
	
	border-width:14px 28px;
	border-style:solid;
	border-color:transparent Silver transparent transparent;
}

.pdp-pdb-search-active-count {
    margin-right: 20px;
    background-color: #8d2d3b;
	padding: 1px 7px;
	border-radius: 20px;
	color: #fff;
	font-size: 10px;
}

.pdp-pdb-search-active-count:empty {
    margin-right: 20px;
    background-color: transparent;
	padding: 0;
}