#pdb-popup_contentDiv {
    height: auto !important;
    width: 410px !important;
}

#pdb-popup:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 10px 0;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -15px;
    left: 170px;
}

#pdb-popup:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 18px 12px 0;
    border-color: #939598 transparent;
    display: block;
    width: 0;
    z-index: 1;
    bottom: -18px;
    left: 168px;
}

html, body {
    height: 100%;
}

#pdb-popup {
    overflow: visible !important;
    padding: 20px 10px;
    box-shadow: 0px 2px 0px #939598;
    width: 405px !important;
}

#pdp-pdb-view hr {
    border: 0;
    border-top: 1px solid #b8727a;
    margin: 10px -20px;
}

.ui-widget-header {
    background: none !important;
    background-image: none !important;
    background-color: #8d2d3b !important;
    text-shadow: none !important;
    color: #fff;
}

#ui-datepicker-div .ui-state-default, #ui-datepicker-div .ui-widget-content .ui-state-default, #ui-datepicker-div .ui-widget-header .ui-state-default {
    background: none;
    background-color: #e8e8e8;
}

.ui-date-picker-calendar .ui-state-hover {
    background-color: #dedede !important;    
}

.ui-icon-play {
    background-image:url('../jqueryui/css/custom/images/ui-icons_222222_256x240.png') !important;
    background-position: -133px -212px !important;
}

.pdp-pdb-search-category-header-viewing .ui-icon-play {
    background-image:url('../jqueryui/css/custom/images/ui-icons_222222_256x240.png') !important;
    background-position: -114px -212px !important;
}

.ui-icon-help {
    background-image:url('../jqueryui/css/custom/images/ui-icons_222222_256x240.png') !important;
    background-position: -96px -210px !important;
    margin: 0 1px -2px 5px;
}

.ui-icon-circle-close {
    background-image:url('../jqueryui/css/custom/images/ui-icons_222222_256x240.png') !important;
    background-position: -150px -211px !important;
}

.ui-icon-close {
    background-image:url('../jqueryui/css/custom/images/ui-icons_222222_256x240.png') !important;
    background-position: -150px -211px !important;
}

.pdp-shortview-list-item {
    margin-bottom: 4px;
}

.pdp-shortview-value {
    font-size: 12px!important;
    color: #C88C94;
    font-weight: 600!important;
    width: 300px;  
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

.pdp-shortview-label {
    font-size: 12px!important;
    color: #0F4038;
    font-weight: 600!important;
    width: 75px;
    vertical-align: top;
    text-align: left;
    display: inline-block;
    padding-right: 10px;    
    line-height: 10px;
}

#pdp-pdb-button-reset {
    margin-top: 4px;
    color: #fff;
}

#pdp-pdb-button-search {
    background-color: #8d2d3b;
    background-image: none;
    width: 100%;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.3) -1px 2px 0px;
    font-size: 23px;
    font-weight: 300;
    box-shadow: 0px 2px 0px #765159;
    border: 0;
}

#pdp-pdb-button-search:hover {
    background-color: rgba(141, 45, 59, 0.9);
}

#navbar-toggle {
    display: none;
}

@media only screen and (max-width: 800px)  {

    #navbar-toggle {
        display: block!important;
        position: relative;
        float: left;
        padding: 10px 10px 10px 10px;
        margin: 14px 8px 8px 8px;
        background-color: #D8D5D4;
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
    }

    #navbar-toggle:hover {
        background-color: rgba(216, 213, 212, 0.9);
    }    

    #navbar-toggle.visible .icon-bar {
        background-color: #D8D5D4;
    }

    #navbar-toggle.visible {
        background-color: rgba(140, 44, 57, 1.0);
    }    

    #navbar-toggle.visible:hover {
        background-color: rgba(140, 44, 57, 0.9);
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0 0 0 0);
      border: 0;
    }

    .icon-bar {
      background-color: #8C2C39;
    }

    #navbar-toggle .icon-bar {
      display: block;
      width: 22px;
      height: 3px;
      border-radius: 1px;
    }

    #navbar-toggle .icon-bar + .icon-bar {
      margin-top: 4px;
    }

    #content #left.visible {
        left: 0;
        transition: left .2s;
        -webkit-transition: left .2s
    }
    #content #center.visible #pdp-main {
        left: 320px;
        transition: left .2s;
        -webkit-transition: left .2s    
    }
    #content #left {
        left: -320px;
    }
    #content #center #pdp-main {
        left: 0;
        transition: left .2s;
        -webkit-transition: left .2s;        
    }
}

#content #left {
    transition: left .2s;
    -webkit-transition: left .2s
}
#content #center {
    transition: margin-left .2s;
    -webkit-transition: margin-left .2s    
}

.pdp-pdb-search-category-header-viewing label {
    color: #0F4038;
    font-size: 14px;
    font-weight: 300;
}

html { overflow:hidden; }
#pdp-app-copyright {position: absolute; left: 10px; bottom: 5px; font-size: .8em;}
#content { position:relative; height: 100% !important; }
    #left { width:320px; position:absolute; top:0; left:0; height:100%; }
    #center { margin-left:320px; height:100%; }

#pdp-header-linkbar { position: absolute; right: 150px; top: 10px; }
#pdp-header-linkbar a { padding-left: 5px; color: #939597; font-size: 12px; }

.pdp-header-logo{ padding-left: 10px; padding-top: 12px; width: 244px; }
.pdp-toolbar {     
        background: #727A65;    
       height:40px; position:relative; 
}
#pdp-view-picker { float:right; margin: 8px 8px 0 0; }
#pdp-view-picker .ui-button-text { padding:0.2em 1.5em; }
    
#pdp-tab-container { height:100%; background-color: #c98d95; }
    #pdp-tab-container .pdp-tab-header { position:absolute; bottom:0; }
    #pdp-tab-container .pdp-tab { 
        float:left; 
        border-top:solid 1px #2C3B0E; 
        border-left:solid 1px #2C3B0E; 
        border-right:solid 1px #2C3B0E; 
        display:inline; 
        padding:8px 16px; 
        margin-left:5px; 
        background:#2C3B0E; 
    }
    
    #pdp-tab-container .pdp-tab a { color:#FFFFFF; text-decoration: none; font-weight: bold; text-shadow: 0 0.1em 0 #00000;}
    
    #pdp-tab-container.pdp-pdb-view { background-color:#C88C94; border-right: solid 1px #b1bab7; }
    #pdp-tab-container.pdp-nychanis-view { background-color:#DFEBBE;}

.pdp-tab-pdb.active{
    background: #fff !important; 
}
.pdp-tab-pdb.active a{
    color:#212121 !important; 
}

.pdp-tab-nyc.active{
    background: #DFEBBE !important;
    text-shadow: 0 0.1em 0 #c0c0c0 !important;
}
.pdp-tab-nyc.active a{
    color:#2C3B0E !important; 
}

#pdp-pdb-search-aggregations {
    padding: 0 20px;
}

.pdp-search-actions { text-align:center; position:relative; margin:25px 0; }
    .pdp-search-actions button { width:150px; padding: 0.25em;}
    .pdp-search-actions a { position:static; top:0.7em; right:2.0em; width: 100%; display: block; text-align: right; font-size: 11px; }
    
.pdp-tab-content-container { overflow-y:auto; overflow-x:hidden; background-color: #C88C94; height: 100% !important; }
    #pdp-pdb-search-criteria h4 { padding:12px 10px; background-color: #3a3a3c; color: #fff; font-weight: 300;}
    #pdp-pdb-search-result-type h4 { 
        font-size: 10px; 
        display: inline-block;
        color: #fff;
        font-weight: 200;
        padding-right: 6px;
    }
    .pdp-tab-content-container input[type='text'], .pdp-tab-content-container select { width:280px; border: 1px solid #cbe0db; height: 32px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 6px;}
    .pdp-tab-content-container input[type='text'] { padding-right: 20px; }
.pdp-table-view { position:relative; }

#pdp-main { 
    position: absolute;
    top: 0;
    bottom: 70px;
    left: 320px;
    right: 0;
    height: auto !important;
}
    #pdp-main.pdp-pdb-view{ border-style: solid; border-color: #fff; border-width: 8px; background-color: #fff;}
    #pdp-main.pdp-nychanis-view {border-style: solid; border-color: #DFEBBE; border-bottom-width: 5px; border-top-width: 5px; border-right-width: 5px; border-left-width: 2px;}

.pdp-table-uninitialized {
    color:#C0C0C0;
    font-size:3.4em;
    line-height:1.1em;
    margin:5px 10%;
    padding:15px;
    text-align:center;
    text-shadow:1px 1px 3px #C0C0C0;
}
.pdp-table-title { padding-top :10px; padding-left:5px; padding-bottom: 2px; font-size:1.4em; margin-right:100px; line-height:1.1em;}    
.pdp-pdb-table-title-details {margin-left: 150px;}
#pdp-pdb-title-display, #pdp-pdb-title-count {display: inline}
.pdp-main-content { display:none; height:95%; border: solid 1px Silver;}
    .pdp-table-toolbar { min-height:40px; z-index:1200; }
        .pdp-table-col-selector { position:absolute; top:8px; left:5px; bottom:100px; }
        .pdp-table-export { position:absolute; top:17px; right:5px; }
    .pdp-table-data { position: absolute; left:0; right:0; bottom:35px; overflow: auto; top: 40px; }
    .pdp-table-pager { position:absolute; bottom:0; left:0; right:0; height:25px; padding:5px; }
    
.pdp-link {padding: 3px;}    
.pdp-profile-form {margin-bottom: 10px;}
/* Make sure the UI dialogs are on top of the map controls */
.ui-widget-overlay { z-index:1101 !important; }
.ui-dialog { z-index:3302 !important; }

#pdp-browser-warning {background-color: #FF9900; text-align: center; color: #FFFFFF; padding: 15px;}

/* Generic style classes */
.pdp-transparent {filter:alpha(opacity=50);-moz-opacity:0.5;-khtml-opacity: 0.5;opacity: 0.5;}
.pdp-shadow-dark-all {    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.9);}
.pdp-shadow-all {    -moz-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);}
.pdp-shadow-drop {    -moz-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);-webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);}
.pdp-border { border: solid 1px #c0c0c0; }
.pdp-small-text { font-size: 0.7em; }



.pdp-quickalert { display:none; text-align:center; position:absolute; width:250px; top:0; left:50%; margin-left:-125px; padding:20px 0; z-index:3002; }

.circle {
    display: block;
    width: 22px;
    height: 22px;
    background: #FCF2A6;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
    color: #000;
    text-align:center;
}

.ui-buttonset .ui-state-default {
    background-color: #8d2d3b;
    background-image: none;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    box-shadow: 0px 2px 0px #765159;
    border: 0;
}
.ui-buttonset .ui-state-default:hover {
	background-color: rgba(141, 45, 59, 0.9);
}

/* Active:hover buttonset needs to be the same as active */
.ui-buttonset .ui-state-active:hover {
	background-color: rgba(166, 51, 68, 0.9);
    
}
.ui-buttonset .ui-state-active {
    background-color: #a63344;
    background-image: none;
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
    font-weight: 300;
    box-shadow: 0px 2px 0px #765159;
    border: 0;
}

.ui-button{
	background: -webkit-gradient(linear, left top, left bottom, from(#FDFDFD), to(#DEDDDD));
	background: -moz-linear-gradient(top,  #FDFDFD,  #DEDDDD);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FDFDFD', endColorstr='#DEDDDD') !important;
}

button.ui-button:hover{
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#D1D0D0));
	background: -moz-linear-gradient(top,  #EEEEEE,  #D1D0D0);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#D1D0D0') !important;

}

button.ui-button:active {
	position: relative;
	top: 1px;
	
    background: -webkit-gradient(linear, left top, left bottom, from(#D1D0D0), to(#EEEEEE));
	background: -moz-linear-gradient(top,  #D1D0D0,  #EEEEEE);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D1D0D0', endColorstr='#EEEEEE') !important;
	
}

.ui-widget-header{
        text-shadow: 0.1em 1px 0px #000;
        background: -webkit-gradient(linear, left top, left bottom, from(#A1AE8D), to(#727A65));
	    background: -moz-linear-gradient(top,  #A1AE8D,  #727A65);
	    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#A1AE8D', endColorstr='#727A65') !important;
        text-shadow: -1px -1px 0 #1E400B;
        border: 0;
}

/* Override feedbacker image*/ 
.feedbacker-floatLeft .feedbacker-openbutton-imgtab strong { background:url(images/feedbacker-tab-left-green.png) no-repeat !important;text-indent:-1000px;height:94px;width:26px;padding:0; }