#pdp-loading-indicator{
    background: White url('images/loader.gif') no-repeat center;
    display: block;
    position: absolute;
    width: 50px; 
    height: 50px;   
    z-index: 20001;
    float: none;
}

#pdp-loading-overlay {
    width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    background: Black;
    
}
