.pdp-pdb-control { padding:10px 10px 10px 10px; }
    .pdp-pdb-control.pdp-pdb-control-active { 
        background-color: #fff;
	}
	
    .pdp-pdb-control-label { margin:0 0 6px 0; white-space:nowrap; position:relative; font-weight: 300; font-size: 12px; border:none; background:none;}
    .pdp-pdb-control span {font-weight: 400; color: #808284; font-size: 12px;}
        .pdp-pdb-control-label .ui-icon-help { display: inline-block; cursor:pointer; }
    .pdp-pdb-control .ui-icon-close {cursor: pointer;}
    .pdp-pdb-control-input, .pdp-pdb-control-input-range {position: relative; display: inline;}
    .pdp-pdb-control-input .ui-icon-close {position: absolute; right: 5px; top: 1px;}
    .pdp-pdb-control .pdp-control-range { width:70px !important; margin: 0 5px; }
    .pdp-pdb-control .pdp-control-daterange { width: 96px !important; margin: 0 5px; }
    .pdp-pdb-control-input-range-clearable { }
    .pdp-pdb-control-input-range .ui-icon-close {position: absolute; right: 10px; top: 1px;}
    
/* Input styles */
.pdp-control-free {
}
        
.pdp-pdb-control-tooltip, .pdp-pdb-control-tooltip-left {
    background-color:#3a3a3c;
    padding:10px 15px;
    width:auto;
    max-width: 200px;
    display:none;
    color:#fff;
    text-align:left;
    font-size:12px;
    z-index:200000;
}

/* this is the fill triangle */
.pdp-pdb-control-tooltip:after {
	content:"\00a0";
	display:block; /* reduce the damage in FF3.0 */
	position:absolute;
	
	margin-top:-6px;
	width:0;
	height:0;
	top:50%; 
	left:-24px;
	bottom:auto;
	
	border-width:6px 12px;
	border-style:solid;
	border-color:transparent #3a3a3c transparent transparent;
}

/* this is the border triangle */
.pdp-pdb-control-tooltip:before {

}
        
.input-invalid { border:solid 2px #ff0000; }    
.pdp-input-uninit { color:#8D8D8D; }
.pdp-selected-criteria { font-size:0.82em; font-weight:bold; padding:2px 0; background-color: #8d2d3b; padding: 2px 5px 2px 2px; display: inline-block; border-radius: 4px; margin: 0 3px 4px 0; }
    .pdp-selected-criteria .ui-icon { cursor:pointer; }
    .pdp-selected-criteria label { padding-left: 4px; font-size: 12px; color: #d0d0d2; font-weight: normal; line-height: 19px; }
.ui-autocomplete { max-height:110px; overflow-y:auto; }

