.olFramedCloudPopupContent { padding:0 0 5px 0; overflow:hidden; }

#pdp-map-popup-container { height:200px; width:325px; overflow:auto; padding:5px 0 0 5px; }
    .pdp-map-popup-prev { margin-left: 5px; }
.pdp-map-popup-footer { height:16px; position: relative; top: -17px; }
    .pdp-map-popup-pager div { float:left; cursor:pointer; margin-right:8px; border: solid 1px #c0c0c0; }
    .pdp-map-popup-pager div:hover {border-color: #4D6916;}
        .pdp-map-popup-pager-summary { padding:0 4px; height:16px; line-height:16px; font-size:11px; cursor:default !important; }
    .pdp-map-popup-zoom { font-size:11px; margin-left:3px; }
    #pdp-map-popup-zoom-button { padding: 2px 10px; float:right;}
    .pdp-shortview-link { padding: 2px 0 4px 0;}
.pdp-map-icon { cursor:pointer; }
.pdp-map-aggregated-icon { cursor:pointer; }
    .pdp-map-aggregated-icon img { display:none; }

    .pdp-map-marker-aggregated-label { min-width:22px;background-color:#e0e0e0;border:1px solid #fff;display:block;height:30px;font-size:1.2em;font-weight:bold;line-height:30px;text-align:center; }
    .pdp-map-marker-aggregated-label { opacity:0.9;-moz-border-radius:30px;-webkit-border-radius:30px;text-shadow:1px 1px 1px #fff;background-image:-moz-linear-gradient(center top, #A1AE8D, #727A65);background-image:-webkit-gradient(linear, 0% 0%, 0% 100%, from(#A1AE8D), to(#727A65)); }
    #pdp-map-flash-point {position:absolute;width:16px;height:16px;background:Red;border-radius:32px;-moz-border-radius:32px;-webkit-border-radius:32px;color:Red;z-index:50000;}

.pdp-map-title { 
    font-size:1.2em; line-height:1.1em; margin: 5px;  font-weight: bold;  
    color:#fff; z-index:1000; padding:0.4em;
    filter:alpha(opacity=60);   /* IE */
    background:rgb(0,0,0);      /* Other old browsers get no transparency */
    background:rgba(0,0,0,0.6); /* Modern standards-compliant browsers get nice transparency. */
}
#pdp-map-title-content{ 
    margin-right: 175px;
    left: 55px;
    top: 5px;
    position: absolute;
    filter:alpha(opacity=70);   /* IE */
    background:rgb(0,0,0);      /* Other old browsers get no transparency */
    background:rgba(0,0,0,0.2); /* Modern standards-compliant browsers get nice transparency. */
    z-index: 1000;
    
}    
.pdp-shortview-property {height: 175px; overflow: auto;}

/* This is to hide the streetview man */
.olLayerGoogleCopyright { display:none; }

.olPopupCloseBox { background:none; }

.olControlPanPanel
{
	left: 10px;
	top: 10px;
}

.olControlPanPanel div { background-image: url(images/pan-panel.png); }

.olControlPanPanel .olControlPanNorthItemInactive {
	width: 38px;
	height: 13px;
	left: 0;
}

.olControlPanPanel .olControlPanSouthItemInactive {
	background-position:  0 -25px;
	width: 38px;
	height: 13px;
	top: 25px;
	left: 0;
}
	
.olControlPanPanel .olControlPanWestItemInactive {
	background-position:  0 -13px;
	width: 19px;
	height: 12px;
	top: 13px;
}

.olControlPanPanel .olControlPanEastItemInactive {
	background-position:  -19px -13px;
	width: 19px;
	height: 12px;
	left: 19px;
	top: 13px;
}


/*ZOOM*/

.olControlZoomPanel
{
left:19px;
top:58px;
}

.olControlZoomPanel div { background-image: url(images/zoom-panel.png); height:19px; width:21px; }

.olControlZoomPanel .olControlZoomToMaxExtentItemInactive  
{
	height:20px;
	top: 19px;
}
	
.olControlZoomPanel .olControlZoomOutItemInactive  
{
	top: 39px;
}