<?xml version="1.0" encoding="utf-8" ?>
<components>
  <component name="PDB">
    <parameter name="TYPE" value="Access" />
    <parameter name="PROVIDER" value="Microsoft.Jet.OLEDB.4.0" />
    <parameter name="SERVER" value="..\..\Tests\Test_FurmanData.mdb" />

    <parameter name="MAPPING" value="..\..\Tests\PdbMapping.xml" />
  </component>
  <component name="NYCHANIS">
    <parameter name="TYPE" value="Access" />
    <parameter name="PROVIDER" value="Microsoft.Jet.OLEDB.4.0" />
    <parameter name="SERVER" value="..\..\Tests\Test_FurmanData.mdb" />

    <parameter name="MAPPING" value="..\..\Tests\NychanisMapping.xml" />
  </component>
  <component name="Properties">
    <parameter name="ConnectionConfigSection" value="PDB" />
    <parameter name="PrimaryTable" value="PDP_Properties_Primary" />
    <parameter name="PrimaryTableIdColumn" value="PropertyID" />
    <parameter name="PrimaryTableLatColumn" value="latitude" />
    <parameter name="PrimaryTableLonColumn" value="longitude" />
    <parameter name="SecondaryTable" value="PDP_Properties_Secondary" />
    <parameter name="SecondaryTableForeignKeyColumn" value="PropertyID" />
    <parameter name="SecondaryTablePropertyColumn" value="Attribute" />
    <parameter name="SecondaryTableValueColumn" value="AttributeValue" />
  </component>
  <component name="Users">
    <parameter name="TYPE" value="Access" />
    <parameter name="PROVIDER" value="Microsoft.Jet.OLEDB.4.0" />
    <parameter name="SERVER" value="..\..\Tests\Test_User.mdb" />

    <parameter name="MAPPING" value="..\..\Tests\PdbMapping.xml" />
  </component>
	<component name="AggregateColumns">
		<parameter name="Total Properties" value="*" />
		<parameter name="Total Buildings" value="BuildingCount" />
		<parameter name="Total Units" value="UnitCount" />
	</component>
	<component name="Mapping">
		<parameter name="MapServerURL" value="http://207.245.89.220:8080/geoserver/wms"/>
		<parameter name="SldHandlerURL" value="http://localhost/pdp/handlers/NychanisSldHandler.ashx"/>
	</component>
</components>
